<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Application</title>
    <link rel="stylesheet" href="/layout.css">
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <div class="container-fluid">
        <form action="/borrowing/borrow" method="post">
        <label for="bookid">Book ID:</label> 
        <input type="text" id="bookid" name="bookid" required> 
        <br>
        <label for="userid">User ID:</label> 
        <input type="text" id="userid" name="userid" required> 
        <br>
        <button type="submit">Borrow</button>

        </form>    
        <%=locals.message%>
            <% if (locals.details) { %>
            </br>Details:</br>
            <ul>    
            <li>Title: <%= locals.details.bookname %></li>
            <li>Author: <%=locals.details.author%></li>
            <li>Borrowed by: <%=locals.details.username%></li>
            <li>Due date: <%=locals.details.duedate%></li>

            </ul>
            <%}%>


    </div>
</body>
</html>