<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Application</title>
    <link rel="stylesheet" href="/layout.css">
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <div class="container-fluid">
        <div class="kontainer-utama">
            <div class="d-flex flex-column">
        
                <div> <p>Borrowing</p>
                </div>   
        
        <form action="/borrowing/borrow" method="post">
        
            <div class="row">
            <div class="col"><label for="bookid">Book ID:</label> </div> 
                <div class="col"><input type="text" id="bookid" name="bookid" required> </div>
            </div>

            <div class="row">
               
            <div class="col"><label for="userid">User ID:</label></div> 
            <div class="col"><input type="text" id="userid" name="userid" required></div> 
            </div>

            <div class="kontainer-button">
        <button type="submit">Borrow</button></div>

        </form> <div><p>   
        <%=locals.message%></p></div>
            <% if (locals.details) { %>
             <div>   
            <p>Details:</p>

            <ul>    
            <li>Title: <%= locals.details.bookname %></li>
            <li>Author: <%=locals.details.author%></li>
            <li>Borrowed by: <%=locals.details.username%></li>
            <li>Due date: <%=locals.details.duedate%></li>

            </ul>
            <%}%>
        </div>
        
            </div>
            </div>        
    </div>
</body>
</html>