<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Application</title>
    <link rel="stylesheet" href="/layout.css">
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <div class="container-fluid">
        <div class="kontainer-utama">
            <div class="d-flex flex-column">
    
        <form action="/user/adduser" method="post">

            <div class="row"><div class="col">
                <label for="name">Name:</label></div><div class="col">
                <input type="text" id="name" name="name" required></div></div>
            <div class="row">
                <div class="col"><label for="address">Address:</label></div>
                <div class="col"><input type="text" id="address" name="address" required></div>
            </div>
            
            <div class="row">
                <div class="col"><label for="phone">Phone:</label></div>
                <div class="col"><input type="text" id="phone" name="phone" required></div>
            </div>
            
            <div class="row">
                <div class="col"><label for="email">Email:</label></div>
                <div class="col"><input type="text" id="email" name="email" required></div>
            </div>
         
        <div class="kontainer-button"><button type="submit">Add</button></div>

        </form>    
        <div><p><%=locals.message%></p></div>
        <div>
            <% if (locals.details && locals.details.id) { %>
            </br>Details: </br>
            <ul>    
            <li>User ID : <%= locals.details.id %></li>
            <li>Name: <%=locals.details.name%></li>
            <li>Address: <%=locals.details.address%></li>
            <li>Phone: <%=locals.details.phone%></li>
            <li>Email: <%=locals.details.email%></li>
            </ul>
            <%}%>
        </div>    

    </div>
</body>
</html>