<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Application</title>
    <link rel="stylesheet" href="/layout.css">
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <div class="container-fluid">
        <form action="/user/adduser" method="post">
        <label for="name">Name:</label> 
        <input type="text" id="name" name="name" required> 
        <br>
        <label for="address">Address:</label> 
        <input type="text" id="address" name="address" required> 
        <br>
        <label for="phone">Phone:</label> 
        <input type="text" id="phone" name="phone" required> 
        <br>
        <label for="email">Email:</label> 
        <input type="text" id="email" name="email" required> 
        <br>
        <button type="submit">Add</button>

        </form>    
        <%=locals.message%>
            <% if (locals.details && locals.details.id) { %>
            </br>Details: </br>
            <ul>    
            <li>User ID : <%= locals.details.id %></li>
            <li>Name: <%=locals.details.name%></li>
            <li>Address: <%=locals.details.address%></li>
            <li>Phone: <%=locals.details.phone%></li>
            <li>Email: <%=locals.details.email%></li>
            </ul>
            <%}%>


    </div>
</body>
</html>