<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Application</title>
    <link rel="stylesheet" href="/layout.css">
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <div class="container-fluid">
        <form action="/user/deleteuser" method="post">
        <label for="userid">User ID:</label> 
        <input type="text" id="userid" name="userid" required> 
        <button type="submit">Delete</button>

        </form>    
        <%=locals.message%>
            <% if (locals.details && locals.details.id) { %>
            </br>Details:</br>
            <ul>    
            <li>ID : <%= locals.details.id %></li>
            <li>Name: <%=locals.details.name%></li>
            <li>Address: <%=locals.details.address%></li>
            <li>Phone: <%=locals.details.phone%></li>
            <li>Email: <%=locals.details.email%></li>
            </ul>
            <%}%>


    </div>
</body>
</html>