<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Application</title>
    <link rel="stylesheet" href="/layout.css">
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <div class="container-fluid">
    <div class="kontainer-utama">
    <div class="d-flex flex-column">        
        
        <form action="/user/check-userid" method="post">
            <div class="row">
                <div class="col"><label for="userid">User ID:</label></div> 
                <div class="col"><input type="text" id="userid" name="userid" value="<%=locals.userid%>" required></div> 
            </div>    
            <div class="kontainer-button"><button type="submit">Check</button></div>
        </form>    
            <div> <p> <%=locals.message%></p> </div>


        <form action="/user/edituser" method="post">
        <input type="hidden" id="newuserid" name="newuserid" value="<%=locals.userid%>"> 
        
        
        <div class="row">
            <div class="col"><label for="name">Name:</label></div>            
            <div class="col"><input type="text" id="newname" name="newname" value="<%=locals.name%>" required></div>
        </div>
        
        <div class="row">
            <div class="col"><label for="name">Address:</label></div>            
            <div class="col"><input type="text" id="newaddress" name="newaddress" value="<%=locals.address%>" required></div>
        </div>         
 
        <div class="row">
            <div class="col">        <label for="name">Phone:</label>             </div>            
            <div class="col">        <input type="text" id="newphone" name="newphone" value="<%=locals.phone%>" required>             </div>
        </div>

        <div class="row">
            <div class="col">        <label for="name">Email:</label> 
            </div>            
            <div class="col">        <input type="text" id="newemail" name="newemail" value="<%=locals.email%>" required> 
            </div>
        </div>


        <div class="kontainer-button"><button type="submit">Update</button></div>

        </form>    
        <div><p><%=locals.message2%></p></div>
 
        <div>        <% if (locals.details) { %>
        <p>Details: </p>
        <ul>    
        <li>User ID : <%= locals.details.id %></li>
        <li>Name: <%=locals.details.name%></li>
        <li>Address: <%=locals.details.address%></li>
        <li>Phone: <%=locals.details.phone%></li>
        <li>Email: <%=locals.details.email%></li>
        </ul>
        <%}%>
    </div>


    </div>    
    </div>    
    </div>
</body>
</html>