<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Application</title>
    <link rel="stylesheet" href="/layout.css">
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <div class="container-fluid">
        <form action="/book/addbook" method="post">
        <label for="name">Name:</label> 
        <input type="text" id="bookname" name="bookname" required> 
        <br>
        <label for="name">Author:</label> 
        <input type="text" id="author" name="author" required> 
        <br>
        <label for="name">Category:</label> 
        <input type="text" id="category" name="category" required> 
        <br>
        <label for="name">ISBN:</label> 
        <input type="text" id="isbn" name="isbn" required> 
        <br>
        <button type="submit">Add</button>

        </form>    
        <%=locals.message%>
            <% if (locals.details && locals.details.id) { %>
            </br>Details:</br>
            <ul>    
            <li>ID: <%= locals.details.id %></li>
            <li>Bookname: <%=locals.details.name%></li>
            <li>Author: <%=locals.details.author%></li>
            <li>Category: <%=locals.details.category%></li>
            <li>ISBN: <%=locals.details.isbn%></li>
            </ul>
            <%}%>


    </div>
</body>
</html>