<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Application</title>
    <link rel="stylesheet" href="/layout.css">
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <div class="container-fluid">
    <div class="kontainer-utama">
    <div class="d-flex flex-column">
     
        <div> <p>Add a new book</p>
        </div>   

        <form action="/book/addbook" method="post">

        <div class="row"><div class="col">
            <label for="name">Title:</label></div>
            <div class="col"><input type="text" id="bookname" name="bookname" required></div>
        </div>

        <div class="row">
            <div class="col"><label for="name">Author:</label></div>
            <div class="col"><input type="text" id="author" name="author" required></div>
        </div>

        <div class="row">
            <div class="col"><label for="name">Category:</label></div>
            <div class="col"><input type="text" id="category" name="category" required></div>
        </div>

        <div class="row">
            <div class="col"><label for="name">ISBN:</label></div>
            <div class="col"><input type="text" id="isbn" name="isbn" required></div>
        </div>

        <div class="kontainer-button">
        <button type="submit">Add</button>
        </div>    
        </form>
            
        <div>
        <%=locals.message%>
        </div>

        <div>
            <% if (locals.details && locals.details.id) { %>
            <p>Details:</p>
            <ul>    
            <li>Book ID: <%= locals.details.id %></li>
            <li>Title: <%=locals.details.name%></li>
            <li>Author: <%=locals.details.author%></li>
            <li>Category: <%=locals.details.category%></li>
            <li>ISBN: <%=locals.details.isbn%></li>
            </ul>
            <%}%>
        </div>    
    </div>        
    </div>        
    </div>
</body>
</html>