<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Application</title>
    <link rel="stylesheet" href="/layout.css">
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <div class="container-fluid">
        <form action="/book/deletebook" method="post">
        <label for="name">Book ID:</label> 
        <input type="text" id="bookid" name="bookid" required> 
        <button type="submit">Delete</button>

        </form>    
        <%=locals.message%>
            <% if (locals.details && locals.details.id) { %>
            </br>Details:</br>
            <ul>    
            <li>ID : <%= locals.details.id %></li>
            <li>Bookname: <%=locals.details.bookname%></li>
            <li>Author: <%=locals.details.author%></li>
            <li>Category: <%=locals.details.category%></li>
            <li>ISBN: <%=locals.details.isbn%></li>
            </ul>
            <%}%>


    </div>
</body>
</html>