<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Application</title>
    <link rel="stylesheet" href="/layout.css">
</head>
<body>

    <%- include('../partials/header.ejs') %>
    <div class="container-fluid">
    <div class="kontainer-utama">
    <div class="d-flex flex-column">    
               
        <div> <p>Edit book information</p></div>   

        <form action="/book/check-bookid" method="post">
        
            <div class="row">
                <div class="col"><label for="bookid">Book ID:</label></div>
                <div class="col"><input type="text" id="bookid" name="bookid" value="<%=locals.bookid%>" required></div>
            </div>  
            <div class="kontainer-button"><button type="submit">Check</button></div>
            
        </form>    
            <div><p> <%=locals.message%></p> </div>

        <form action="/book/editbook" method="post">
        <input type="hidden" id="newbookid" name="newbookid" value="<%=locals.bookid%>"> 
        
        <div class="row">
            <div class="col"><label for="name">Title:</label></div>
            <div class="col"><input type="text" id="newname" name="newname" value="<%=locals.name%>" required></div>
        </div>    
        
        <div class="row">
            <div class="col"><label for="name">Author:</label></div>
            <div class="col"><input type="text" id="newauthor" name="newauthor" value="<%=locals.author%>" required></div>
        </div>

        <div class="row">
            <div class="col"><label for="name">Category:</label></div>
            <div class="col"><input type="text" id="newcategory" name="newcategory" value="<%=locals.category%>" required></div>
        </div>

        <div class="row">
            <div class="col"><label for="name">ISBN:</label></div>
            <div class="col"><input type="text" id="newisbn" name="newisbn" value="<%=locals.isbn%>" required></div>
        </div>    

        <div class="kontainer-button"><button type="submit">Update</button></div>
        
        </form>    
        
        <div><p><%=locals.message2%></p><div>

        <div>    
        <% if (locals.details) { %>
        <p>Details:</p>
        <ul>    
        <li>Book ID : <%= locals.details.id %></li>
        <li>Title: <%=locals.details.bookname%></li>
        <li>Author: <%=locals.details.author%></li>
        <li>Category: <%=locals.details.category%></li>
        <li>ISBN: <%=locals.details.isbn%></li>
        </ul>
        <%}%>
        </div>

    </div>
    </div>    
    </div>
</body>
</html>