<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Application</title>
    <link rel="stylesheet" href="/layout.css">

</head>
<body>
    <%- include('../partials/header.ejs') %>
    <div class="container-fluid">
        <div class="kontainer-utama">
            <div class="d-flex flex-column">    
                <div> <p>Search book</p></div>  

            
            <form action="/book/searchbook" method="post">
            
            <div class="row">
                <div class="col">Search by:</div>
            <div class="col">
            <select id="dropdown" name="choice" onchange="showInputField()">
                <option value=""></option>
                <option value="1">Book ID</option>
                <option value="2">Title</option>
                <option value="3">Author</option>
                <option value="4">Category</option>
                <option value="5">ISBN</option>
            </select>
            </div></div>

            <div id="inputContainer" class="row"></div>

            <div class="kontainer-button"><button id="searchbutton" type="submit" hidden>Search</button></div>
        </form>
        <% if (locals.isbookexist) { %>
            <table class="aligned-table">
                <thead>
                    <tr>
                        <th>Book ID</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Category</th>
                        <th>ISBN</th>
                    </tr>
                </thead>
                <tbody>
                    <% result.rows.forEach(obj => { %>
                        <tr>    
                            <td><%= obj.b_id %></td>
                            <td><%= obj.b_name %></td>
                            <td><%= obj.b_author %></td>
                            <td><%= obj.b_category %></td>
                            <td><%= obj.ISBN %></td>
                        </tr>    
                    <% }); %>
                </tbody>
            </table>     
        <% } %>
        <%= locals.message %>    
    </div>
    </div>
    </div>

    
    <script>
        function showInputField() {
            const dropdown = document.getElementById('dropdown');
            const inputContainer = document.getElementById('inputContainer');
            inputContainer.innerHTML = ''; // Clear any existing content

            if (dropdown.value) {
                let label = document.createElement('label'); // Create label element
                switch (dropdown.value) {
                    case '1':
                        label.innerText = "Book ID";
                        break;
                    case '2':
                        label.innerText = "Title";
                        break;
                    case '3':
                        label.innerText = "Author";
                        break;
                    case '4':
                        label.innerText = "Category";
                        break;
                    case '5':
                        label.innerText = "ISBN";
                        break;
                }

                const input = document.createElement('input');
                input.type = 'text';
                input.id = 'inputvalue';
                input.name = 'inputvalue';

                const inputDiv1 = document.createElement('div');
                inputDiv1.className = 'col';
                inputDiv1.appendChild(label);

                const inputDiv2 = document.createElement('div');
                inputDiv2.className = 'col';
                inputDiv2.appendChild(input);

                inputContainer.appendChild(inputDiv1);
                inputContainer.appendChild(inputDiv2);

                document.getElementById("searchbutton").removeAttribute("hidden");
            } else {
                document.getElementById("searchbutton").setAttribute("hidden", "hidden");
            }

        }
    </script>

</body>

</html>